@-ms-viewport {
    width: 100vw;
    min-zoom: 100%;
    zoom: 100%;
}

@viewport {
    width: 100vw;
    min-zoom: 100% zoom: 100%;
}

@-ms-viewport {
    user-zoom: fixed;
    min-zoom: 100%;
}

@viewport {
    user-zoom: fixed;
    min-zoom: 100%;
}

.navbar {
    /*    background: #BF360C !important;*/
}

.statusContainer {
    height: 75px;
    /*        background: white;*/
    margin-bottom: 15px;
    position: relative;
    padding: 5px;
}

.arrowContainer {
    width: 30%;
    border: 1px solid black;
    height: 90px;
    display: inline-block;
}

.arrowTail {
    background: transparent;
    color: antiquewhite;
    height: 60px;
    display: inline-block;
    margin: 0px;
    width: 0px;
    border: 30px solid rebeccapurple;
    border-left-color: transparent;
    float: left;
    border-right-width: 0px;
}

.arrowBody {
    width: 58%;
    background: rebeccapurple;
    color: white;
    height: 60px;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    /*        padding: 15px;*/
}

.arrowHead {
    width: 5%;
    background: transparent;
    color: antiquewhite;
    height: 60px;
    display: inline-block;
    width: 0px;
    border: 30px solid rebeccapurple;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    float: left;
}

.arrow {
    position: absolute;
    width: 33%;
}

.feedPanel {
    padding: 10px;
}

#ar1 {}

#ar2 {
    margin-left: 25%;
}

#ar3 {
    margin-left: 50%;
}

#ar4 {
    margin-left: 75%;
}

.companyImg {
    height: 100px !important;
    margin: auto;
    display: block;
}

.teamImg {
    height: 100px !important;
    border-radius: 60px;
    border: 1px solid #C5C3C3;
    padding: 10px;
    /* text-align: center; */
    margin: auto;
    display: block;
    box-shadow: 1px 1px 1px 1px #EAEAEA;
}

.feed-container {
    /*    height: 400px;*/
    /*    overflow: auto;*/
    padding: 10px;
}

.skillTag {
    width: auto;
    display: inline-block;
    padding: 8px;
    background: #6E60B1;
    color: white;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 1px 2px 1px #B9B1B1;
    margin: 4px;
    border: 2px solid white;
}

.contact_card {
    padding: 20px;
    margin-bottom: 4px;
    cursor: pointer;
        background: #fbfbfb;
    border: 0px;
    border-bottom: 1px solid #eee;
}

.sidebarMenu {
    width: 100%;
}

.menu-item {
    height: 60px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d0cbcb;
    margin-bottom: 4px;
    cursor: pointer;
}

.user_email_list {
    height: 70vh;
    overflow: auto;
    overflow-x: hidden;
    background: #fbfbfb;
    margin-top: 20px;
}

.skill_tag {
    padding: 10px;
    border: 1px solid grey;
    display: inline-block;
    float: left;
    border-radius: 4px;
    font-size: 12px;
    margin: 4px 4px;
    cursor: pointer;
}


.rating_section{
    height: 25vh;
    margin-bottom: 2vh;
}

.suggestion_section{
    height: 40vh;
}

.chat_section{
    height:27vh;
}


.msg_tab{
    color:grey;
    border-bottom:1px solid black;
}
.contact_list{
    list-style:none; 
    display:block;
    margin:0px;
    padding:0px;
}
.contact_item{
       display: inline-block;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: #222;
    color: #fff;
    font-size: 11px;
    border-radius: 7px;
}

.list_user_img{
        width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    background: #ccc;
    line-height: 70px;
}


.list_info_icon{
    font-size: 22px;
    line-height: 90px;

}