<style>
    body {}
    
    .navbar {
        margin: 0px !important;
    }
</style>

<div class="row">

    <!--
    <div class="col-md-1" style="">

        <div class="sidebarMenu">

            <div class="menu-item"><i class="fa fa-search" aria-hidden="true"></i> <br>Search</div>

            <div class="menu-item"><i class="fa fa-mouse-pointer" aria-hidden="true"></i> <br>Activity</div>

            <div class="menu-item"><i class="fa fa-user" aria-hidden="true"></i> <br>Profile</div>
            
            <div class="menu-item"></div>
            <div class="menu-item"></div>
            <div class="menu-item"></div>


        </div>



    </div>
-->
    <div class="col-md-12 dash_page">

        <div class="col-md-4">
            <div style="padding:20px;background:#fff;">
                <div class="row ">
                    <div class="col-md-12">
                        <input ng-model="search_contact_query" type="text" placeholder="Search Contact" class="col-md-12 form-control" style="height: 60px;border-radius: 30px;background-color: #fbfbfb;padding: 0px 30px;">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12" style="padding: 20px 25px;">
                        <div class="user_email_list">
                            <div ng-repeat="user in user_list" class="panel panel-default contact_card row" ng-click="selectUser(user.gd$email[0].address)">
                                <div class="col-md-3">
                                    <div class="list_user_img">
                                        
                                        {{user.title.$t.split("")[0]}}
                                        
                                    </div>
                                </div>
                                <div class="col-md-7" style="text-transform:uppercase;">
                                    <!--                              <h4>{{user.gd$email[0].address}}</h4>-->
                                    <h4>{{user.title.$t}}</h4>
                                    <!--
                              <ul class="contact_list"> 
                                  <li class="contact_item">Python</li>
                                  <li class="contact_item">Python</li>
                                  <li class="contact_item">Python</li>
                              </ul>
-->
                                </div>
                                <div class="col-md-1">
                                    <div class="text-center list_info_icon">
                                        <!--                           <i class="fa fa-info-circle"></i> -->
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="detail_panel panel panel-default" style="height:97vh;min-height: 375px;padding:20px;">

                <div class="row">
<!--
                    <div class="col-md-4">
                        <div style="width:100%;display:block;tex-align:center;background:#333; height:100px">

                        </div>
                    </div>
-->
                    <div class="col-md-12">
                        <h3>{{selected_user_obj.title.$t}}</h3>
                        <br>
                        <h4>{{selected_user_obj.gd$email[0].address}}</h4>
                    </div>
                </div>
                <!--
                <div class="row">
                  <h3>General</h3>
                   <div class="col-md-12">
                   <h4>Personal Info</h4>
                   <p >UI/ UX Designer</p>
                   </div>                    
                </div>
-->



                <br><br><br>

                <div class="col-md-12">

                    <div class="skill_tag" ng-repeat="skill in skillArr" ng-click="onSkillInfo(skill)">

                        {{skill}}

                    </div>

                </div>


            </div>


        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="rating_section panel panel-default" style="text-align:center; padding:20px;">
                        <h3 class="dash_title" style="margin-bottom:4px;">Rating</h3>
                        <span style="text-align: left;font-size: 14px; display: block;color:#bbb;">Based On Users Activity in the field.</span>

                        <h4 style="font-size:22px;">{{rating_obj.name}}</h4>
                        <h4 style="font-size:5em;padding:5px;font-weight: bold;background: -webkit-linear-gradient(#0550E9, #C008E3 );-webkit-background-clip: text;-webkit-text-fill-color: transparent;">{{rating_obj.val}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="suggestion_section  panel panel-default">
                        <h3 class="dash_title">Similar Skilled Contacts</h3>
                        <div class="suggest_list">
<!--                            <div class="suggested_users" ng-repeat="a in suggestion_obj.arr">test</div>                            -->
                            <div class="row suggested_users" ng-repeat="a in suggestion_obj.arr">
                             <div class="col-md-3">
                                    <div class="list_user_img">
                                        {{a.title.$t.split("")[0]}}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <!--                              <h4>{{user.gd$email[0].address}}</h4>-->
                                    <h4 class="ng-binding">{{a.title.$t}}</h4>
                                 </div>
                                <div class="col-md-1">
                                    <div class="text-center list_info_icon">
                                        <!--                           <i class="fa fa-info-circle"></i> -->
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="chat_section panel panel-default">
                       <div class="row">
                           <div class="col-md-12">
                                <h4 style="text-align:left; font-size:22px;">Find your Skill Requirement with <span style="color:#0d4de9;">ECHO</span></h4>
                                <span style="text-align: left;font-size: 14px;display: block;color:#bbb;">An ECHO of your skill requirement will reach your friends, and they will reach you with someone they know matching your skill requirement.</span>
                            </div>
                            
                            <div class="col-md-12 beam_box">                                
                                <div class="col-md-9" style="padding-right: 0px;padding-left: 0;">
                                    <input ng-model="beaminput" type="text" class="form-control" placeholder="Beam here!" style="height: 50px;font-size: 20px;border-radius: 0px;line-height: 50px;font-size: 18px;border: none;background: #f5f4f4;">
                                </div>
                                <div class="col-md-3" style="padding-left: 0px; text-align: left;">
                                    <button ng-click="onBeam()" class="btn btn-default" style="background-image:url('UI-07.jpg');background-image: url(UI-07.jpg); height: 50px;  width: 50px; background-size: cover; border-radius: 0px 12px 12px 0px;"></button>
                                </div>
                                
                            </div>
                       </div>                        
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>