<div class="row">

    <center>
        <h3>Echos</h3>
    </center>


    <div class="col-md-12">

        <!--
       <div class="col-md-12">
           
           <div class="col-md-4 msg_tab">Received</div>
           <div class="col-md-4 msg_tab">Sent</div>
       </div>
-->
        <div class="col-md-4" style="height:88vh;    overflow: auto;background: #d8d8d8;">

            <div class="echo_chat_title row" ng-repeat="m in messages" style="    padding: 10px;
    border-bottom: 1px solid grey;">

                <div class="col-md-2" style="border-left: 6px solid #03dc03;">
                    <div style="    background-image: url(U2.jpg);
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-size: contain;"></div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-12" style=" font-size: 16px;
">
                        Yoga
                    </div>
                    <div class="col-md-12" style=" font-size: 20px;
">
                        For Angular
                    </div>
                </div>


            </div>

        </div>
        <div class="col-md-8" style="height:88vh;background:#d8d8d8;">

            <div class="col-md-12">

                <div class="col-md-2" style="    background-image: url(u2.jpg);
    height: 80px;
    width: 80px;
    margin-top: 5px;
    background-size: contain;">



                </div>
                <div class="col-md-10">
                    <h3>Yogananth</h3>

                    <h4>UI/UX</h4>
                </div>


            </div>

            <div class="col-md-12">


                <h4>Yoga is looking for a Angular Developer</h4>
            </div>



            <div class="col-md-12">
                Here are some people in your contacts who has skills in Angular JS
            </div>

            <div class="col-md-12">
                <div ng-repeat="peep in peepArr" class="col-md-6" style="padding:0px;margin-top:10px;">

                    <div class="col-md-10 col-md-offset-1" style="    background: #9b59b6;
    padding: 20px;
    color: #fff;">





                        <!--                    <div class="row">-->
                        <div class="col-md-8">username</div>
                        <div class="col-md-4">
                            <button class="btn btn-default" style="    background-image: url(UI-06.jpg);
    background-size: cover;
    height: 60px;
    border-radius: 14px;
    border: none;
    width: 60px;    background-position-x: -4px;">
                          
                      </button>
                        </div>

                        <!--                    </div>-->

                    </div>

                </div>


            </div>

        </div>


    </div>






</div>
